[Unit]
Description=Run VeriStockDB SQLite backup

[Timer]
OnCalendar=*-*-* 02:30
Persistent=true
Unit=veristockdb-backup.service

[Install]
WantedBy=timers.target
